@page "/error404"





<h3>Страница Error404</h3>

<p>Извините, такой страницы нет...</p>
<p>Приглашаем Вас на главную страницу <a href="">В начало</a></p>

@code{

    [Parameter]
    public string Title { get; set; }
}