@page "/"



<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h1 class="text-center">Здравствуй, Мир!</h1>
            <p class="lead text-center">Добро пожаловать в серверное приложение!</p>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-gears icon"></i>
                <h3 class="name">Технология Blazor</h3>
                <p class="description">Blazor позволяет создавать интерактивные веб-интерфейсы с использованием прикладных языков C#, F# вместо JavaScript.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="icon-globe icon"></i>
                <h3 class="name">Веб-стандарты</h3>
                <p class="description">Пользовательский интерфейс в виде HTML-страницы с CSS, работает во всех современных веб-браузерах и на мобильных устройствах.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-server icon"></i>
                <h3 class="name">Серверная логика</h3>
                <p class="description">Blazor Server - это серверная логика работы веб приложений, поддерживаемая процессорной мощью сервера.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="far fa-object-group icon"></i>
                <h3 class="name">Смарт модули</h3>
                <p class="description">Blazor основан на компонентах, интеллектуальных модулях для обработки любой логики. Языки C#, F# позволяют создавать смарт сайты высокого технологического уровня.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-plane icon"></i>
                <h3 class="name">Быстрый</h3>
                <p class="description">Приложения Blazor Server легковесные, быстро загружаются, обновление интерфейса происходит с минимальными задержками, без перезагрузки всей веб страницы.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-phone icon"></i>
                <h3 class="name">Всегда на связи</h3>
                <p class="description">Blazor Server использует активное подключение к серверу. Система Blazor Server автоматически выбирает лучший транспортный метод для организации связи сервера и клиента.</p>
            </div>
        </div>
    </div>
</div>


<div style="max-width:500px;margin:0 auto;">
    <div class="alert alert-light text-center" role="alert">
        Учебный проект!
    </div>
</div>